#!/usr/bin/env bash

REPO_DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)/../public"

GPG_NAME=""
GPG_EMAIL=""
GPG_KEYFILE="RPM-GPG-KEY-"

declare PREPELRELEASESODUCTS
EPELRELEASES["9"]="el9"
declare -r EPELRELEASES

declare -A PRODUCTS
PRODUCTS["epicgreen-repository"]="epicgreen/epicgreen-repository"
declare -rA PRODUCTS