[Unit]
Description=Build all new listed releases into RPM packages

[Service]
Type=simple
Nice=10
ExecStart=/var/www/repository.epicgreen.nl/rpmdev/build.sh --buildall